/**
 * Main Visual
 */

.mainVisual {
  width: min(100%, 63rem);
  margin: 0 auto;

  @media (min-width: $breakpointLg) {
    margin: 2.25rem auto;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
