/**
 * Component - Slider
 */

.slider {
  position: relative;
  width: 100%;
  height: min(120vw, 40rem); // customize to use
  overflow: hidden;
  
  // gapはJSで指定
  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateX(0);
  }

  &__item {
    position: relative;
    flex: 0 1 auto; 
    order: 0;
    margin: 0;
    opacity: 1;
    transition: opacity 0.15s linear;
    
    &:not(.--current) {
      //opacity: .85;
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 3rem; // アイコンのサイズ
    margin: auto;
    border: 0;
    border-radius: 50%;
    background-color: $primary;
    color: $white;
    text-align: center;
    
    &:hover {
      color: $primary;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
  
  &__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 1rem;
    margin: 0.75rem auto;
    padding: 0;
  }

  &__navItem {
    width: .5rem;
    height: .5rem;
    margin: 0.75rem;
    border-radius: 50%;
    background-color: $primary;
    cursor: pointer;

    &:not(.--current) {
      background-color: $primaryLight;
    }
  }
}
