// Variables

$bodyBg:         #ffffff;
$bodyColor:      #333333;
$activeColor:    #666666;
$white:          #ffffff;
$primary:        #fa8113;
$primaryLight:   #fff9ce;

$fontFamily:     "Roboto", "Noto Sans JP", sans-serif;

$breakpointSm:   600px;
$breakpointMd:   900px;
$breakpointLg:   1200px;
